#div1 {
    width: 1200px; height: 1200px;
    border: 1px solid;
    background-repeat: no-repeat;
    background-size: 1200px 1200px;
    background-position: 300px 200px; /*위, 왼 */
    background-image: url("귀여운여우.jpg");
    /*
    background: url("이미지") no-repeat 200px 200px / 100px 100px;
    */
}
#div:hover{
    background-image: url("귀여운북극여우.jpg");
    color: red;
}
#div div { width: 50px; height: 50px; }