#wrap { background-color: white; width: 400px; margin: 0 auto;}
#wrap > :nth-of-type(1) { background-color: red; }
#wrap > :nth-of-type(2) { 
    display: flex;
    height: 100px; background-color: yellow;    
    & > :nth-of-type(1) { width: 100px; background-color: yellow; }
    & > :nth-of-type(2) { width: 200px; background-color: green; }
}
#wrap > :nth-of-type(3) { background-color: hotpink; }

#wrap2 { background-color: white; width: 400px; margin: 0 auto;}
#header { background-color: red; }
#main { background-color: aquamarine; height: 100px; display: flex;}
#footer { background-color: hotpink; }

#list { background-color: yellow; width: 20%;}
#section { background-color: green; width: 60%;}
#section div { background-color: white; width: 70%; margin: auto;
    & div { border: 2px solid green; margin-top: 5px;}
}
#side { background-color: yellow; width: 20%;}