a { position: absolute; z-index: 10; }
a:hover ~ #login{display: block;}

/******* LOGIN *******/

#login {
    display: none;
    margin: 100px auto;
    width: 360px; height: 230px;
    box-shadow: 0 0 8px black;
    border-radius: 10px;
}
#login > .title {
    /* background-color: bisque; */
    text-align: center;
    letter-spacing: 5px;
    font-size: 24px;
    border-bottom: 3px dotted olive;
    width: 220px;
    margin: auto;
    padding: 10px 0;
    color: darkcyan;
}
#login > form {
    /* background-color: aquamarine; */
    width: 270px; margin: auto;
}
#login > form > input {
    color: grey; font-size: 20px;
    margin-top: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid lightgray;
    letter-spacing: 3px; width: 100%;
    &:focus { border-bottom: 2px solid red; }
}
#login > form > button {
    margin-top: 20px;
    width: 100%; height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: lightgray;
    &:hover {
        background-color: gray;
        box-shadow: 0 0 2px black;
    }
}
#div1 { width: 100px; height: 100px; background-color: gray;
    color: wheat; font-size: 20px;
    text-shadow: 5px 5px 0px black;
    box-shadow:  5px 5px 10px red; 
}
#div1:active { color: blue; background-color: aquamarine; }
img { width: 100px; height: 100px; }
img:hover { box-shadow: 0px 0px 10px black; }