#div1 { width: 300px; }
#div1 { 
    border-radius: 300px; overflow: hidden;
    transition: 1s;    
}
#div1:hover { transform: rotate(360deg); scale: 1.5;}
#div2 {
    margin-left: 90px;
    margin-top: -160px;
    width: 200px;
    color: white;
}
#div2:hover {
    margin-bottom: 100px;
}