* { margin: 0; padding: 0; }
#header { width: 700px; height: 100px; background-color: cadetblue;
    display: flex;
}
#title_logo { background-color: aquamarine; width: 100px; 
    background-image: url("귀여운사막여우.jpg");
    background-size: cover;
    border-radius: 100px;
}
#div { 
    display: flex;
    background-color: bisque;
    width: 600px;
    justify-content: space-between;
}
#div ul { list-style: none;
    background-color: cadetblue;
    display: flex;
    align-items: center;
}
#div ul li { border: 1px solid; background-color: red;  
    margin: 0 10px;
}
#div ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    &:hover{
        color: orange;
        border-bottom: 2px solid orange;
        padding-bottom: 5px;
        transition: 0.25s;
    }
}
#div ul:nth-child(2) a { font-size: 13px; color: lightgray; }