#logo { border: 1px dashed black; border-radius: 200px; overflow: hidden;}
#logo > img { width: 200px; height: 200px;}

img {
    width: 200px; height: 200px;
    &:hover{
        transform: scale(1.1);
        transition: all 0.1s;
    }
}

#wrap {
    width: 200px; height: 600px; border: 1px solid gray;
    border-radius: 5px;
}
#wrap div { overflow: hidden; width: 200px; height: 200px; }
img {
    width: 200px; height: 200px;
    &:hover{
        transform: scale(1.1);
        transition: all 0.1s;
    }
}

a { color: black; text-decoration: none; }
a:hover {
    border-bottom: 3px solid red;
}